<!doctype html>
<html lang="en">
  <head>        
        <meta charset="utf-8" />
        <title>Admin Forget Password | NYTTC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/logo/nyttc_logo.png">
        <link href="system_admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/my-style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="home-btn d-sm-block">
            <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
        </div>
        <div class="account-pages my-5 pt-sm-5">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-5">
                      <div class="card overflow-hidden">
                          <div class="bg-soft-primary">
                              <div class="row">
                                  <div class="col-7">
                                      <div class="text-primary p-4">
                                          <h5 class="text-primary"> Reset Password</h5>
                                          <p>Re-Password with <span style="color: #e83e8c; font-weight: bold;">NYTTC</span>.</p>
                                      </div>
                                  </div>
                                  <div class="col-5 align-self-end">
                                      <img src="system_admin/assets/images/profile-img.png" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="card-body pt-0"> 
                              <div>
                                  <a href="/admin-login">
                                      <div class="avatar-md profile-user-wid mb-4">
                                          <span class="avatar-title rounded-circle bg-light login-logo">
                                              <img src="/assets/logo/nyttc_logo.png" alt="" class="" height="45">
                                          </span>
                                      </div>
                                  </a>
                              </div>
                              
                              <div class="p-2">
																	<p class="text-center" id="image_loader_send_mail">
																		<img src="/system_admin/assets/images/loaders/mail-animation.gif" alt="Mail Sending" class="" width="150px">
																	</p>
                                  <div class="alert alert-warning text-center mb-4 p-0 py-2" id="msgReset">
                                      Enter your Email and instructions will be sent to your email!
                                  </div>
                                  <form class="form-horizontal" action="" autocomplete="off" onsubmit="reset_password(event)">          
                                      <div class="form-group">
                                          <label for="useremail">Email</label>
                                          <input type="email" class="form-control" id="useremail" placeholder="Enter email for Reset Password" autocomplete="off" required value="">
                                          <span id="emailErr" class="text-danger"></span>
                                      </div>
                  
                                      <div class="form-group row mb-0">
                                          <div class="col-12 text-right">
                                              <button class="btn btn-primary w-md waves-effect waves-light" type="submit" onclick="isValidEmail()">Reset Password</button>
                                          </div>
                                      </div>  
                                  </form>
                              </div>
          
                          </div>
                      </div>
                      <div class="mt-5 text-center">
                          <p>Remember It ? <a href="/admin-login" class="font-weight-medium text-primary"> Sign In here</a> </p>
                          <p class="mt-3">© <%= moment().format('YYYY') %> <a href="/">NYTTC</a>. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#">DnKFlock</a></p>
                      </div>

                  </div>
              </div>
          </div>
      </div>

        <!-- JAVASCRIPT -->
        <script src="system_admin/assets/libs/jquery/jquery.min.js"></script>
        <script src="system_admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="system_admin/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="system_admin/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="system_admin/assets/libs/node-waves/waves.min.js"></script>
        <script src="system_admin/assets/js/app.js"></script>
        <script>
          function reset_password(e) {
            e.preventDefault();
            let useremail = $('#useremail').val().trim();          
						
            if(useremail) {
							$('#emailErr').text('');
							$('#image_loader_send_mail').fadeIn(800);
              $.ajax({
                url: "/admin-forget-password",
                cache: false,
                type: "POST",
                data: {useremail : useremail},
                success: function(res, status, xhr) {
                  // console.log(res);
									$('#image_loader_send_mail').hide();
                  if(res.status) {
                    $('#useremail').val('').blur();
                    $('#msgReset').text(res.sucMsg).removeClass('alert-warning').removeClass('alert-danger').addClass('alert-success');
                  } else {										
                    if(res.errMsg) {                        
                        $('#msgReset').text(res.errMsg).removeClass('alert-warning').removeClass('alert-success').addClass('alert-danger');
                    } else {
                        console.log(res.err);
                    }
                  }
                },
                error: function (xhr, status, error) {
                  console.log(xhr);
                  console.log(status);
                  console.log(error);
                }
              });
            }
          }
					function isValidEmail() {
						let useremail = $('#useremail').val();
						var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
						if(useremail) {
							if(regex.test(useremail)) {
								$('#emailErr').text('');
							} else {
								$('#emailErr').text('Invalid email !');
							}
						} else {
							$('#emailErr').text('Enter a valid email !');
						}						
					}
        </script>
    </body>
</html>
