<!doctype html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <title>Admin Reset Password | NYTTC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/logo/nyttc_logo.png">
        <link href="system_admin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        <link href="system_admin/assets/css/my-style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <div class="home-btn d-sm-block">
            <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
        </div>
        <div class="account-pages my-5 pt-sm-5">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-5">
                      <div class="card overflow-hidden">
                          <div class="bg-soft-primary">
                              <div class="row">
                                  <div class="col-7">
                                      <div class="text-primary p-4">
                                          <h5 class="text-primary"> Reset Password</h5>
                                          <p>Re-Password with <span style="color: #e83e8c; font-weight: bold;">NYTTC</span>.</p>
                                      </div>
                                  </div>
                                  <div class="col-5 align-self-end">
                                      <img src="system_admin/assets/images/profile-img.png" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="card-body pt-0"> 
                              <div>
                                  <a href="/admin-login">
                                      <div class="avatar-md profile-user-wid mb-4">
                                          <span class="avatar-title rounded-circle bg-light login-logo">
                                              <img src="/assets/logo/nyttc_logo.png" alt="" class="" height="45">                                              
                                          </span>
                                      </div>
                                  </a>
                              </div>
                              
                              <div class="p-2">
                                <p class="text-center" id="loader_change_pass">
                                  <img src="/system_admin/assets/images/loaders/waiting_circle.gif" alt="Mail Sending" class="" width="150px">
                                </p>
																<% if(is_resetable) { %>
                                  <div class="alert alert-warning text-center mb-4 p-0 py-2" id="msgReset">
                                      Enter new password for change password, within 15 minutes.
                                  </div>
																	<div class="text-center" id="form_change_pass">																		
																			<form class="form-horizontal" action="" autocomplete="off" onsubmit="reset_password_change(event)">																			
																					<input type="hidden" name="useremail" id="useremail" class="form-control" autocomplete="off" required value="<%- useremail %>">
																					<input type="hidden" name="reset_token" id="reset_token" class="form-control" autocomplete="off" required value="<%- token %>">
																					<div class="form-group text-left">                                          
																							<label for="new_password">New Password</label>
																							<input type="password" class="form-control" id="new_password" placeholder="New Password" autocomplete="off" required value="" readonly onfocus="this.removeAttribute('readonly');" oninput="inputRequiredCheck(this)">
                                              <span class="text-danger" id="newPassErr"></span>
                                          </div>
																					<div class="form-group text-left">                                          
																							<label for="re_new_password">Re-Enter New Password</label>
																							<input type="password" class="form-control" id="re_new_password" placeholder="Re Enter New Password" autocomplete="off" required value="" readonly onfocus="this.removeAttribute('readonly');" oninput="inputRequiredCheck(this)">
                                              <span class="text-danger" id="reNewPassErr"></span>
																					</div>	
											
																					<div class="form-group row mb-0">
																							<div class="col-12 text-right">
																									<button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change Password</button>
																							</div>
																					</div>  
																			</form>
																	</div>
																<% } else { %>
																	<h5 class="text-center bg-danger p-3 text-white">Password Reset is not available or Expaired</h5>
																<% } %>
                              </div>
          
                          </div>
                      </div>
                      <div class="mt-5 text-center">
                          <p>Remember It ? <a href="/admin-login" class="font-weight-medium text-primary"> Sign In here</a> </p>
                          <p class="mt-3">© <%= moment().format('YYYY') %> <a href="/">NYTTC</a>. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="#">DnKFlock</a></p>
                      </div>

                  </div>
              </div>
          </div>
      </div>

        <!-- JAVASCRIPT -->
        <script src="system_admin/assets/libs/jquery/jquery.min.js"></script>
        <script src="system_admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="system_admin/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="system_admin/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="system_admin/assets/libs/node-waves/waves.min.js"></script>
        <script src="system_admin/assets/js/app.js"></script>
        <script>
          function reset_password_change(e) {
            e.preventDefault();
            let new_pass_valid = false;
            let re_new_pass_valid = false;
            let useremail 			= $('#useremail').val();
            let reset_token 		= $('#reset_token').val();
            let new_pass 		= $('#new_password').val();
            let re_new_pass = $('#re_new_password').val();

            // passErr
            // newpassErr
            if(new_pass.length == 0) {
              new_pass_valid     = false;
              $('#newPassErr').text('Required!');      
            } else if(new_pass.length < 6) {
              new_pass_valid     = false;
              console.log(new_pass.length)
              $('#newPassErr').text('Minimum 6 char length Password Needed!');      
            } else {
              new_pass_valid = true;
              $('#newPassErr').text('');
            }

            if(re_new_pass.length == 0) {
              re_new_pass_valid = false;
              $('#reNewPassErr').text('Required!');      
            } else if(re_new_pass.length < 6) {
              re_new_pass_valid = false;
              $('#reNewPassErr').text('Minimum 6 char length Password Needed!');      
            } else {
              re_new_pass_valid = true;
              $('#reNewPassErr').text('');
            }
            if(new_pass_valid && re_new_pass_valid) {
              if(new_pass == re_new_pass){
                $('#newPassErr').text('');
                $('#reNewPassErr').text('');
                new_pass_valid = true;
                re_new_pass_valid = true;
                // console.log("mmmm")
              } else {
                $('#newPassErr').text('New Pass and Re-new Pass dosnt match!');
                $('#reNewPassErr').text('New Pass and Re-new Pass dosnt match!');
                // console.log("ooooo")
                new_pass_valid = false;
                re_new_pass_valid = false;
              }
            }

            if(new_pass_valid && re_new_pass_valid) {
              // if(new_password && re_new_password) {
                $('#loader_change_pass').fadeIn(800);
                $.ajax({
                  url: "/reset-admin-password",
                  cache: false,
                  type: "POST",
                  data: {
              			useremail 			: useremail,
              			reset_token 		: reset_token,
              			new_password 		: re_new_pass,
              			re_new_password : re_new_pass,
              		},
                  success: function(res, status, xhr) {
                    // console.log(res);
                    $('#loader_change_pass').hide();
                    if(res.status) {
                      $('#form_change_pass').html('').append(
              					'<a class="btn btn-success" href="/admin-login">Click Here For Sign In</a>'
              				);
                      $('#msgReset').text(res.sucMsg).removeClass('alert-warning').removeClass('alert-danger').addClass('alert-success');
              				// let url = window.location.href;
              				// console.log("url", url);
              				// window.location.replace(url);
              			} else {
              				if(res.errMsg) {
              					$('#msgReset').text(res.errMsg).removeClass('alert-warning').removeClass('alert-success').addClass('alert-danger');
              				} else {
              					console.log(res.err);
              				}
                      
                    }
                  },
                  error: function (xhr, status, error) {
                    console.log(xhr);
                    console.log(status);
                    console.log(error);
                  }
                });
              // }
            }
          }

          function inputRequiredCheck(elm) {
            // console.log($(elm).val().length);
            if($(elm).val().length < 1) {
              // $('#currentPassErr').text('Required!');      
              // console.log($(elm).closest('div').find('span').text('Required!'));
              $(elm).closest('div').find('span').text('Required!');
            } else {
              $(elm).closest('div').find('span').text('');
            }
            // second Part
            let new_pass 		= $('#new_password').val();
            let re_new_pass = $('#re_new_password').val();
            if(new_pass.length >= 6 && re_new_pass.length >= 6) {
              if(new_pass == re_new_pass) {
                $('#newPassErr').text('');
                $('#reNewPassErr').text('');
              } else {
                $('#newPassErr').text('New Pass and Re-new Pass dosnt match!');
                $('#reNewPassErr').text('New Pass and Re-new Pass dosnt match!');
              }
            }
          }
        </script>
    </body>
</html>
