<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="www.dnkflock.com" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/assets/logo/nyttc_logo.png">
	<title><%= title %> :: NYTTC - National Youth & Technical Training Center</title>
	<link href="/assets/css/styles.css" rel="stylesheet">
	<link href="/assets/css/colors.css" rel="stylesheet">
</head>

<body class="red-skin">
	<!-- <div id="preloader"><div class="preloader"><span></span><span></span></div></div> -->
	<div id="preloader">
		<img src="/assets/logo/nyttc_logo.png" alt="nyttc_logo" class="loader-img">
	</div>
	<div id="main-wrapper">