<!-- <section class="newsletter theme-bg inverse-theme subcript">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-sm-12">
				<div class="text-center">
					<h2>Join With Us and Our Students !</h2>
					<p>Subscribe for our newsletter & latest news !</p>
					<form class="sup-form">
						<input type="email" class="form-control sigmup-me" id="subscribe_email" placeholder="Your Email Address" required="required">
						<input type="button" class="btn btn-theme subscribeBtn" id="subsBtn" value="Subscribe">
					</form>
					<div id="subscribeErr" class="text-danger text-left"></div>
					<div id="subscribeSuc" class="text-success text-left"></div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<div class="footer-newsletter">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<h4>Join Our Newsletter</h4>
				<p>Subscribe for our newsletter & latest news !</p>
				<form action="" method="">
					<input type="email" id="subscribe_email" name="email" placeholder="Enter your email here..." required>
					<input type="button" class="" id="subsBtn" value="Subscribe">
				</form>
				<div id="subscribeErr" class="text-danger text-left"></div>
				<div id="subscribeSuc" class="text-success text-left"></div>
			</div>
		</div>
	</div>
</div>